body, html {
    height: 100%;
    margin: 0;
    overflow: hidden; /* This will disable scrolling on the entire page */
}

#mainContent {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden; /* Ensures no scrolling within the main content */
    z-index: 1;
}

#backgroundVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: -1; /* Ensures the video stays in the background */
}

/* Styles for your content that goes over the video */
.content-overlay {
    position: relative;
    z-index: 2;
    /* Additional styling for your text/content as needed */
}


#loadingScreen {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url('load.jpg'); /* Add your background image */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1; /* Lower z-index than video */
}

#loadingVideo {
    max-width: 100%;
    max-height: 100%;
    z-index: 2;
    display: none; /* Hide video initially */
}

#enterButton {
    font-family: 'Luckiest Guy', cursive;
    text-shadow:
        -1.5px -1.5px 0 #000,
        1.5px -1.5px 0 #000,
        -1.5px 1.5px 0 #000,
        1.5px 1.5px 0 #000; /* creates an outline effect */
    padding: 20px 20px;
    background: #F89406; /* Orange background */
    color: white;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    border-radius: 5px;
    border: 2px solid white; /* Adds a 2px solid white border */
}
#enterButton:hover {
    background: #f3ad34; /* Lighter orange on hover */
}


#mainContent {
    display: none;
    /* Additional styling for your main content */
}
